In [3]:
import pandas as pd

In [4]:
#The football.csv file contains the results from the English Premier League. 
# The columns labeled ‘Goals’ and ‘Goals Allowed’ contain the total number of 
# goals scored for and against each team in that season (so Arsenal scored 79 goals 
# against opponents, and had 36 goals scored against them). Write a program to read the file, 
# then print the name of the team with the smallest difference in ‘for’ and ‘against’ goals.

# The below skeleton is optional.  You can use it or you can write the script with an approach of your choice.


import csv

def read_data(data):
    dir = '/Users/kpully/ds/metis/prework/dsp/python/'+ data
    dta = pd.read_csv('/Users/kpully/ds/metis/prework/dsp/python/'+ data)
    return dta

def get_min_score_difference(self, parsed_data):
    print parsed_data

def get_team(self, index_value, parsed_data):
    return
    # COMPLETE THIS FUNCTION

In [5]:
dta = read_data('football.csv')

In [8]:
dta

,Team,Games,Wins,Losses,Draws,Goals,Goals Allowed,Points
0,Arsenal,38,26,9,3,79,36,87
1,Liverpool,38,24,8,6,67,30,80
2,Manchester United,38,24,5,9,87,45,77
3,Newcastle,38,21,8,9,74,52,71
4,Leeds,38,18,12,8,53,37,66
5,Chelsea,38,17,13,8,66,38,64
6,West_Ham,38,15,8,15,48,57,53
7,Aston_Villa,38,12,14,12,46,47,50
8,Tottenham,38,14,8,16,49,53,50
9,Blackburn,38,12,10,16,55,51,46
10,Southampton,38,12,9,17,46,54,45
11,Middlesbrough,38,12,9,17,35,47,45
12,Fulham,38,10,14,14,36,44,44
13,Charlton,38,10,14,14,38,49,44
14,Everton,38,11,10,17,45,57,43
15,Bolton,38,9,13,16,44,62,40
16,Sunderland,38,10,10,18,29,51,40
17,Ipswich,38,9,9,20,41,64,36
18,Derby,38,8,6,24,33,63,30
19,Leicester,38,5,13,20,30,64,28

In [14]:
for team in dta.Team:
    dta['score_diff'] = abs(dta['Goals'] - dta['Goals Allowed'])

In [25]:
print min(abs(dta.score_diff))

1

In [37]:
dta

,Team,Games,Wins,Losses,Draws,Goals,Goals Allowed,Points,score_diff
0,Arsenal,38,26,9,3,79,36,87,43
1,Liverpool,38,24,8,6,67,30,80,37
2,Manchester United,38,24,5,9,87,45,77,42
3,Newcastle,38,21,8,9,74,52,71,22
4,Leeds,38,18,12,8,53,37,66,16
5,Chelsea,38,17,13,8,66,38,64,28
6,West_Ham,38,15,8,15,48,57,53,9
7,Aston_Villa,38,12,14,12,46,47,50,1
8,Tottenham,38,14,8,16,49,53,50,4
9,Blackburn,38,12,10,16,55,51,46,4
10,Southampton,38,12,9,17,46,54,45,8
11,Middlesbrough,38,12,9,17,35,47,45,12
12,Fulham,38,10,14,14,36,44,44,8
13,Charlton,38,10,14,14,38,49,44,11
14,Everton,38,11,10,17,45,57,43,12
15,Bolton,38,9,13,16,44,62,40,18
16,Sunderland,38,10,10,18,29,51,40,22
17,Ipswich,38,9,9,20,41,64,36,23
18,Derby,38,8,6,24,33,63,30,30
19,Leicester,38,5,13,20,30,64,28,34

In [45]:
dta.loc[dta['score_diff'] == abs(1)].Team

7    Aston_Villa
Name: Team, dtype: object